.label {
    -fx-font-size: 10em;
    -fx-text-fill: DARKRED;
    -fx-text-alignment: center;
}

.victory-label {
    -fx-text-fill: FORESTGREEN;
}

.title {
    -fx-font-size: 5em;
    -fx-text-fill: WHITE;
}

.hbox, .vbox {
    -fx-alignment: center;
    -fx-spacing: 20;
}

.config-pane {
    -fx-spacing: 60;
}

.button {
    -fx-text-fill: DARKRED;
    -fx-font-size: 25px;

    -fx-border-color: GRAY;
    -fx-border-width: 4px;
    -fx-border-style: solid;

    -fx-background-color: LIGHTGRAY;
}

.button:hover {
    -fx-background-color: LIGHTBLUE;
}

.check-box > .box {
    -fx-padding: 1em;
}

.check-box > .box > .mark {
    -fx-padding: 1em;
}

.text-field {
    -fx-font-size: 40px;
}