.root {
    -fx-background-color: LIGHTGRAY;
}

.label {
    -fx-text-alignment: center;
}

.countdown {
    -fx-font-size: 10em;
    -fx-text-fill: DARKRED;
}

.config-label {
    -fx-font-size: 2em;
    -fx-text-fill: MIDNIGHTBLUE;
    -fx-text-alignment: right
}

.error-label {
    -fx-font-size: 1.5em;
    -fx-text-fill: RED;
}

.victory-label {
    -fx-font-size: 10em;
    -fx-text-fill: FORESTGREEN;
}

.defeat-label {
    -fx-font-size: 10em;
    -fx-text-fill: DARKRED;
}

.title {
    -fx-font-size: 5em;
    -fx-text-fill: WHITE;
    -fx-padding: 80 80 80 80;
}

.title-hbox {
    -fx-background-color: GRAY;
}

.hbox, .vbox {
    -fx-alignment: center;
    -fx-spacing: 20;
}

.button {
    -fx-text-fill: DARKRED;
    -fx-font-size: 25px;

    -fx-border-color: GRAY;
    -fx-border-width: 4px;
    -fx-border-style: solid;

    -fx-background-color: LIGHTGRAY;
}

.button:hover {
    -fx-background-color: LIGHTBLUE;
}

.check-box > .box {
    -fx-padding: 0.5em;
}

.check-box > .box > .mark {
    -fx-padding: 1em;
}

.fields-grid {
    -fx-alignment: center;
    -fx-vgap: 20;
    -fx-hgap: 20;
}

.config-field {
    -fx-font-size: 2em;
}